<div>
	<div class="box">
	    <div class="image fit">
			{% if question.images | first.name == null %}
				<img src="/images/pic02.jpg" alt="" />
			{% else %}	
				<img src="/uploads/images/{{ question.images | first.name }}" alt="" />
			{% endif %}
			
		</div>
		<div class="content">
			<header class="align-center">
				<p>{{ question.username }}</p>
				<h2>{{ question.subject }}</h2>
			</header>
			<p>{{ question.description }}</p>
			<footer class="align-center">
		    	<a href="{{ path_for('question.get', {slug: question.slug}) }}" class="button alt">See More</a>
			</footer>
		</div>
	</div>
</div>